body {margin: 0; 
    padding: 0;
    max-width: 100%;
    background: rgb(235, 228, 211);
}

h1 {
    color:rgb(61, 54, 49);
    font-size:50px;
    text-align: center;
    line-height: 100px;
}

#title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 200px;
}

#content {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

#content_contents {
    text-align: center;
    width: 70%; 
    margin: 20px 20px;
    padding: 1px 1px;
    border-radius: 10px;  
    box-sizing: border-box; 
    background-color: rgb(255, 255, 255);
    font-size: 20px;

}

#date_dates {
    text-align: center;
    width: 30%; 
    margin: 20px 20px;
    padding: 1px 1px;
    border-radius: 10px;  
    box-sizing: border-box; 
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

#date {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}


#submitButton {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 100px;
}

#home_btn{
    position: absolute;
    top:70%;
    left:10%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width: 9%;
    padding: 12px 20px; 
    margin: 8px 0px; 
    background-color: rgb(235, 228, 211);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid orange;
}
#edit_btn{
    position: absolute;
    top:70%;
    left:45%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width: 9%;
    padding: 12px 20px; 
    margin: 8px 0px; 
    background-color: rgb(235, 228, 211);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid orange;

}
#delete_btn{
    position: absolute;
    top:70%;
    left:80%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width: 9%;
    padding: 12px 20px; 
    margin: 8px 0px; 
    background-color: rgb(235, 228, 211);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid orange;
}

#home_new {
    position: absolute;
    text-align: center;
    left: 80%;
    top: 22%;
    width: 12%;
    padding: 12px 20px; 
    margin: 10px 20px; 
    display: inline-block; 
    border-radius: 100px; 
    border: 4px solid rgb(247, 214, 154); 
    box-sizing: border-box; 
    background-color: rgb(255, 255, 255);
}


#home_list {
    text-align: center;
    width: 70%; 
    margin: 20px 20px;
    padding: 1px 1px;
    border-radius: 30px;  
    border-style: groove;
    box-sizing: border-box; 
    background-color: rgb(255, 255, 255);
    font-size: 20px;
  }



a {
    text-decoration-line: none;
  }


